body {
    background-image: url("./images/backGround.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans MS;
    margin: 0;

}

hr {
    background-color: brown;
    border-color: brown;
}

audio {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.radio {
    width: 7%;
    height: 7px;
    padding: 0%;
    margin: 0%;


}


.submit-button {
    display: inline-block;
    width: 25%;
    height: 10px;
    background-color: brown;
    border-style: outset;
    border-color: darkred;
    border-width: 3px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;

}



#subject {
    text-align: center;
}


#pointsDiv {
    text-align: center;
}

#points {
    color: green;
}

#missed {
    color: red;
}

#paper {
    font-size: 0.3em;
    background-image: url("./images/paper.svg");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 35%;
    height: 83.2vh;
    margin-top: 8vh;
    margin-right: 10%;
    padding: 2%;
}

#radioDiv {
    /* display: none; */
}

#wheelOfFortune {
    position: absolute;
    width: 24%;
    top: 34%;
    left: 11.5%;
    /* display: none; */
}

#backGroundWheel {
    position: absolute;
    width: 30%;
    top: 28%;
    left: 8.5%;
}

#sign {
    display: block;
    position: absolute;
    margin-top: 3px;
    width: 40%;
    margin-left: 5%;

}

#arrow {
    z-index: 1;
    position: absolute;
    left: 34.8%;
    top: 61%;
    width: 8%;

}

hr {
    color: black;

}